<villa-home-highlight></villa-home-highlight>
<villa-home-about></villa-home-about>
<villa-home-tent-collection></villa-home-tent-collection>
<villa-home-services></villa-home-services>
<villa-rewards-stats></villa-rewards-stats>
<villa-home-featured-projects></villa-home-featured-projects>
<!-- <villa-home-blogs></villa-home-blogs> -->
<villa-home-testimonials></villa-home-testimonials>
<villa-brands></villa-brands>
<villa-common-cta></villa-common-cta>
<!-- <villa-home-contact></villa-home-contact> -->