# Node modules
node_modules/

# Build outputs
dist/
build/
out-tsc/
.angular/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Coverage
coverage/
coverage/**/*

# IDE / Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db

# Misc
.cache/
*.tgz
*.bak

# Optional lock files (uncomment if you want to exclude)
# package-lock.json
# yarn.lock
