<main class="w-full bg-[#faf9f6]">
  <villa-about-hero [topSection]="pageData.Data.TopSection"></villa-about-hero>
  <villa-about-intro [founders]="pageData.Data.Founders" [about]="pageData.Data.AboutInfo" [stats]="pageData.Data.RewardStats"></villa-about-intro>
  <!-- <villa-about-stats-banner></villa-about-stats-banner> -->
  <villa-about-values></villa-about-values>
  <villa-about-mission-vision></villa-about-mission-vision>
  <!-- <villa-about-contact></villa-about-contact> -->
  <villa-common-cta></villa-common-cta>
</main>