<main class="text-[#17331f]">
  <section class="relative flex min-h-120 items-center bg-cover bg-center px-4 md:px-6 lg:px-10 py-14">
    <img src="{{topSection?.image}}" alt="Luxury Villa Tent exterior"
      class="absolute inset-0 size-full object-cover object-[center_58%]">
    <div class="absolute inset-0 bg-black/45"></div>
    <div class="relative text-white flex justify-center flex-col">
      <p class="text-white font-semibold text-sm uppercase mb-3 tracking-widest">{{topSection?.subtitle}}</p>
      <h1 class="max-w-3xl font-serif text-4xl text-white md:text-5xl" [innerHTML]="topSection?.title"></h1>
    </div>
  </section>

  <section class="bg-[#faf9f6] px-4 py-14 lg:px-10 lg:py-20">
    <div class="rounded-xl bg-white shadow-sm p-4 md:p-6 lg:p-8">
      <p class="text-[#58635a]" [innerHTML]="pageInfo?.content"></p>
    </div>
  </section>
</main>
