<section class="relative flex min-h-[34rem] w-full items-center bg-cover bg-center bg-no-repeat md:min-h-[38rem]"
  [style.background-image]="'url(' + topSection.image + ')'">
  <div class="absolute inset-0 bg-black/45"></div>
  <div class="relative z-10 mx-auto w-full px-4 md:px-6 lg:px-10">
    <div class="max-w-3xl">
      <p class="text-white font-semibold text-sm uppercase mb-3 tracking-widest">— {{ topSection.category }}</p>
      <h1 class="text-white text-4xl md:text-5xl lg:text-6xl font-serif leading-[1.3] mb-5">{{ topSection.title }}</h1>
      <p class="mb-8 max-w-lg text-lg text-white" [innerHTML]="topSection.banner_desc"></p>
      <a href="/get-a-quote" class="group flex w-fit items-center capitalize rounded border border-[#1b402e] bg-[#003d1a] px-8 py-3 text-sm font-medium text-white transition hover:bg-[#005b28]">get a quote <span class="material-icons ml-2 text-base transition-transform group-hover:translate-x-1">arrow_forward</span></a>
    </div>
  </div>
</section>
