<div class="px-4 pt-8 pb-6 md:px-6 lg:px-10">
  <div class="mx-auto mb-11 max-w-6xl text-center">
      <h2 id="projects-title" class="text-xl font-bold uppercase tracking-widest text-[#007735]" [innerHTML]="galleryInfo?.title"></h2>
      <div class="mt-4 text-gray-500 leading-7" [innerHTML]="galleryInfo?.content"></div>
  </div>
  
    <div class="flex gap-3 overflow-x-auto">
        @for (tab of tabs; track tab.value) {
        <button type="button" (click)="selectTab(tab.value)" class="rounded-md cursor-pointer text-nowrap border border-[#e8e2d6] bg-white px-4 py-2.5 text-[0.72rem] font-bold uppercase text-[#4d4d4d] transition hover:border-[#003d1a] hover:bg-[#003d1a] hover:text-white"
            [ngClass]="{
          '!bg-[#003d1a] text-white border-[#003d1a]': activeTab === tab.value
        }">
        {{ tab.label }}
      </button> }
    </div>
</div>