<section class="mx-auto px-6 lg:px-10 py-16 bg-[#faf9f6]">
  <div class="flex items-center flex-col lg:flex-row gap-10">
    <div class="lg:w-1/4 pt-4">
      <p class="text-[#005b28] font-bold tracking-[0.2em] text-sm uppercase mb-2 mb-2">What Our Clients Say</p>
      <h2 class="text-3xl lg:text-4xl font-serif text-[#0e2614] leading-tight">Trusted by Leading Hospitality Brands
      </h2>
    </div>

    <div class="lg:w-3/4 grid grid-cols-1 md:grid-cols-3 gap-6">
      <ng-container *ngFor="let testimonial of testimonials">
        <div
          class="bg-white p-8 rounded-sm border border-gray-100 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.03)] relative flex flex-col h-full">
          <div class="text-[#005b28] opacity-30">
            <span class="material-icons !text-6xl flex-shrink-0">format_quote</span>
          </div>
          <p class="text-sm text-[#005b28] leading-relaxed mb-8 flex-grow">{{ testimonial.quote }}</p>
          <div class="flex items-center gap-3 justify-between border-t border-gray-100 pt-5 mt-auto">
            <div>
              <p class="font-bold text-[#0e2614] text-sm">{{ testimonial.name }}</p>
              <p class="text-[13px] text-gray-500 mt-0.5">{{ testimonial.role }}</p>
            </div>
            <div class="text-[13px] text-nowrap font-serif text-gray-400 italic">{{ testimonial.brand }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</section>
 