.floating-contact-widget {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}

.contact-float-item {
  padding: 12px 15px;
  background-color: #005b28;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 7px 0 0 7px;
  position: relative;
  right: -75%;
  transition:
    right 0.4s ease,
    opacity 0.4s ease,
    transform 0.4s ease;
  width: auto;
  min-width: 170px;
}

.contact-float-item:hover {
  right: -10px;
}

.contact-float-item span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.contact-float-item:hover span {
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
}

.contact-float-item svg {
  width: 30px;
  height: 30px;
}
