<section class="px-4 md:px-6 lg:px-10 lg:py-16 py-14 relative">
    <div class="flex justify-between items-center mb-8">
        <div>
            <p class="text-[#003d1a] font-bold text-sm uppercase mb-2 tracking-widest mb-2">Featured Projects</p>
            <h2 class="text-3xl md:text-4xl lg:text-[2.5rem] font-serif text-[#0e2614]">Iconic Projects, Timeless Experiences
            </h2>
        </div>

        <a href="/projects" class="hidden lg:flex items-center text-xs font-bold text-gray-500 hover:text-[#0e2614] transition uppercase">
      View All Projects
      <span class="material-icons ml-1 flex-shrink-0 text-[14px]">arrow_forward</span>
    </a>
    </div>

    <div class="relative">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
            <ng-container *ngFor="let project of projects | slice:0:4">
                <a href="/{{project.slug}}">
                    <div class="group cursor-pointer">
                        <div class="rounded-t-lg overflow-hidden h-44 relative bg-gray-100">
                            <img [src]="project.image" class="w-full h-full object-cover group-hover:scale-105 transition duration-700" [alt]="project.title" />
                            <div class="absolute inset-0 bg-black/20"></div>
                        </div>
                        <div class="bg-white px-3 py-4 rounded-b-lg border border-t-0 border-gray-200">
                            <h3 class="font-bold text-[#0e2614] text-lg">{{ project.location }}</h3>
                            <p class="text-sm text-gray-500 mt-1">{{ project.title }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </div>
    </div>
</section>