<section class="px-4 md:px-6 lg:px-10 lg:py-16 py-14 grid gap-6 lg:grid-cols-2">
  <div class="border border-[#0a3d2d]/20 rounded-md p-4">
    <p class="mb-5 font-semibold tracking-wider uppercase text-[#0a3d2d]">
      Specifications
    </p>

    <div class="overflow-hidden border-t border-[#0a3d2d]/20">
      <div class="grid grid-cols-3 text-[15px] border-b border-[#0a3d2d]/25 font-semibold text-[#0a3d2d]">
        <div class="py-3 font-medium opacity-90">Name</div>
        <div class="py-3 font-medium opacity-90">Feets</div>
        <div class="py-3 font-medium opacity-90">Meters</div>
      </div>

      <div class="grid grid-cols-3 gap-3 text-[15px] border-b border-[#0a3d2d]/20 text-[#1d2d27]" *ngFor="let item of tentDetails.Specifications;">
        <div class="py-3 font-medium">{{item.title}}</div>
        <div class="py-3">{{item.feet}}</div>
        <div class="py-3">{{item.meters}}</div>
      </div>
    </div>
  </div>
  <div class="border border-[#0a3d2d]/20 rounded-md p-4">
    <p class="pb-5 border-b border-[#0a3d2d]/20 font-semibold tracking-wider uppercase text-[#0a3d2d]">
      Floor Plan
    </p>
    <img src="{{floorImage}}" class="img-fluid" alt="{{name}}" title="name" />
  </div>
</section>