<section class="mx-auto w-[calc(100%-2rem)] max-w-[1320px] pb-16" *ngIf="images.length">
    <div class="relative overflow-hidden rounded-xl bg-black"><img class="aspect-[1.9] w-full object-cover"
            [src]="images[activeIndex]" [alt]="name" /><button type="button" (click)="previous()"
            class="absolute left-4 top-1/2 grid size-11 -translate-y-1/2 place-items-center rounded-full bg-white/90 text-2xl text-[#003d1a]"><span class="material-icons text-3xl">chevron_left</span></button><button
            type="button" (click)="next()"
            class="absolute right-4 top-1/2 grid size-11 -translate-y-1/2 place-items-center rounded-full bg-white/90 text-2xl text-[#003d1a]"><span class="material-icons text-3xl">chevron_right</span></button><button
            type="button" (click)="isFullscreen = true"
            class="absolute right-4 top-4 grid size-10 place-items-center rounded-full bg-black/55 text-white"><span
                class="material-icons">fullscreen</span></button></div>
    <div class="mt-3 flex gap-3 overflow-x-auto"><button type="button" *ngFor="let image of images; let i = index"
            (click)="select(i)" class="shrink-0 overflow-hidden rounded-md border-2"
            [class.border-green-700]="activeIndex === i" [class.border-transparent]="activeIndex !== i"><img
                class="h-16 w-24 object-cover" [src]="image" [alt]="name + ' thumbnail'" /></button></div>
</section>
<div *ngIf="isFullscreen" class="fixed inset-0 z-[100] flex flex-col bg-black/90 p-5 text-white md:p-8">
    <div class="flex items-center justify-between"><span class="text-lg font-medium">{{ activeIndex + 1 }} / {{
            images.length }}</span><button type="button" (click)="isFullscreen = false"
            class="grid size-11 place-items-center rounded-full bg-white/10 hover:bg-white/20"><span
                class="material-icons">close</span></button></div>
    <div class="relative flex flex-1 items-center justify-center py-5"><img
            class="max-h-[calc(100vh-14rem)] max-w-[78vw] rounded-xl object-contain shadow-2xl"
            [src]="images[activeIndex]" [alt]="name" />
      <button type="button" (click)="previous()"
            class="absolute left-0 grid size-12 place-items-center rounded bg-white/15 hover:bg-white/25"><span class="material-icons text-3xl">chevron_left</span></button><button
            type="button" (click)="next()"
            class="absolute right-0 grid size-12 place-items-center rounded bg-white/15 hover:bg-white/25"><span class="material-icons text-3xl">chevron_right</span></button>
    </div>
    <div class="flex gap-3 overflow-x-auto pt-3"><button type="button" *ngFor="let image of images; let i = index"
            (click)="select(i)" class="shrink-0 overflow-hidden rounded-md border-2"
            [class.border-green-500]="activeIndex === i" [class.border-transparent]="activeIndex !== i"><img
                class="h-20 w-32 object-cover" [src]="image" [alt]="name + ' thumbnail'" /></button></div>
</div>
