.menu-item {
  position: relative;
}

.app-body {
  padding-top: 80px; /* header height */
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 250px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 10px;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-item {
  position: relative;
}

.sub-sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: white;
  min-width: 250px;
  padding: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.sub-item:hover .sub-sub-menu {
  display: block;
}